@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    margin: 0; padding: 0;
    text-decoration: none;
    text-transform: capitalize;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}
.wrapper {
    width: 65vmin;
    height: 70vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #293447;
}
.game-details {
    color: #bbc6dc;
    font-size: 1.2rem;
    font-size: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;

}
.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
}
.play-board .food {
    background: #ff003d;
}